    
    
        
    
    
            <section >
                <input type="string"  class="results" [(ngModel)]="numb">
                <br>
                <button (click)="write('%')">%</button>
                <button>CE</button>
                <button (click)="clean()">C</button>
                <button (click)="write('+')">+</button>
                <button id="equal" (click)="result()">=</button>
    
    
    
    
                <br>
                <button (click)="write('9')">9</button>
                <button (click)="write('8')">8</button>
                <button (click)="write('7')">7</button>
                <button (click)="write('-')">-</button>
                <br>
                <button (click)="write('6')">6</button>
                <button (click)="write('5')">5</button>
                <button (click)="write('4')">4</button>
                <button (click)="write('*')">*</button>
                <br>
                <button (click)="write('3')">3</button>
                <button (click)="write('2')">2</button>
                <button (click)="write('1')">1</button>
                <button (click)="write('/')" >/</button>
                <br>
                <button id="zero" (click)="write('0')">0</button>
                <br>
            </section>
      
    
    
